# EditorConfig is awesome:http://EditorConfig.org

# top-most EditorConfig file
root = true

# Dotnet code style settings:
[*.{cs,vb}]
# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true
